section>h1,
h2,
h3 {
    margin-bottom: 10px;
}


header,
main,
footer {
    max-width: min(70ch, 100% - 4rem);
    margin-inline: auto;
}

blockquote>p {
    margin: 0;
}

blockquote {
    opacity: 0.9;
}


p {
    font-size: 1.25rem;
    line-height: 1.5;
}

.highlight>code::selection {
    color: #333;
    background: #edf0f3;
}

.highlight>code>span::selection {
    color: #333;
    background: #edf0f3;
}
